@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #16183a;
  --color-accent: #0d38ac;
  --color-sidebar: #141527;
  --color-dashboard: #0c0d1f;
  --color-primary-text: #e1e8ff;
  --color-input-placeholder: #5f6175;
  --color-input: #202c4e;
  --color-footer: #e1e8ff;
  --font-sans: "Roboto", system-ui, sans-serif;
  --font-poppins: "Poppins", system-ui, sans-serif;
  --content-x-offset: calc(var(--spacing) * 8);
}

@layer base {
  html {
    font-family: var(--font-sans);
    background-color: #242424;
    color: var(--color-primary-text);
  }

  @media (prefers-color-scheme: light) {
    html {
      background-color: white;
      color: #213547;
    }
  }

  html,
  body,
  #root {
    @apply min-h-dvh;
  }
  a {
    color: var(--color-primary);
    font-weight: 500;
    text-decoration: none;
  }

  a:hover {
    color: var(--color-primary);
  }

  button {
    @apply rounded-md cursor-pointer;
  }

  button:hover {
    border-color: var(--color-primary);
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    @apply border-none;
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--color-input) inset !important;
    box-shadow: 0 0 0px 1000px var(--color-input) inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
    background-color: #253341 !important;
  }
}

@utility auth-bg {
  background-image: url("./assets/bg-auth.webp");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: bottom center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0 0 0 / 0.8);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 10;
  }
}

@utility button-primary {
  @apply bg-accent text-primary-text text-base px-8 py-3 transition outline-none focus:outline-none active:outline-none;
}
@utility button-primary-outline {
  @apply bg-transparent border border-primary-text/50 text-primary-text text-base px-8 py-3 transition outline-none focus:outline-none active:outline-none;
}

@utility button-text {
  @apply bg-transparent text-primary text-base px-8 py-3 transition outline-none focus:outline-none active:outline-none;
}

@utility content-gap-start {
  @apply ps-2 md:ps-8;
}
@utility content-gap-end {
  @apply pe-2 md:pe-8;
}

@utility content-container {
  @apply w-full max-w-7xl content-gap-start content-gap-end xl:mx-0;
}

@utility header-container {
  @apply w-full content-gap-start content-gap-end;
}
